body{
    background-color: rgb(151, 200, 228);
    font-family: Georgia;
    font-size: 18px;
    color: #143c91;
}

header{
    background-color: rgb(110, 170, 185) ;
}

header a{
    color: #fff;
    text-decoration: none;
}

h1 a{
    color: black;
    text-decoration: none;
}

article h1{
    color: black;
}

article a{
    background-color: #fff;
    color: rgb(22, 90, 155);
    text-decoration: none;
}

footer{
    background-color: rgb(110, 170, 185);
    color: #fff;
}

footer a{
    color: #063c8d;
    text-decoration: none;
}

